<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>lizard_guide</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lizards</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-button (click)="GOHome()">homebutton</ion-button>
    <p>
      So your choice of pet is a Lizard? someone mustve loved the virgin media ad, but its a greta choice, lizards offer a reasonable challenge 
      to any pet owner, while at the low end not being too demanding, making a great introduction to the reptile world. msot will be easily tamed with the right care,
      but buyer be warned, these little creatures may seem small, but they are just asa smart as you or me..<br /><br />

      the most popular beginner lizardsfor most are between bearded dragons and leopard geckos, due to their small size, low maintenance, ease of feeding, and tamability, 
      any person who puts thier efoort into one will get the same love back normally, they are both dessert dwelling creatures so theres no need for misting like a chameleon
      or crested gecko, but do make sure they have thier heat lamp and UVB, making these great first reptiles.
      <br />
      most lizards with a few excpeptions on average live anywhere from 2 - 5 years with some, all the way to 14 - 20 years with others years, always  do your homework before bringing one into your home as rehoming can be very stressful
      for them, but once youve settled down and gotten everything done, they are sure to be your little companion.<br /><br />
      
      DIET:
      Most lizards are omnivorous, meaning a blend of approved non toxic fruits and vedgeies, and small bugs like various worms and cockroaches or crickets, are very suitable for feeding on a de escalating basis as they get older.<br /><br />

      Below will send you to a video reference for caring and details of lizards
    </p>
    <ion-button (click)="GOLizardVideo()">Wickens wicked reptiles on YouTube</ion-button>
  </ion-list>
</ion-content>
