<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>monitor_guide</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Monitors</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-button (click)="GOHome()">homebutton</ion-button>
    <p>
      So your choice of pet is a monitor?? someones rather veryu confident, has previous experience, or thinks they can tame godzilla, 
      whatever it is, monitors are not for the fient opf heart, they are big, dangerous, and very expensive to keep. but with the right training, one can be your best pal<br /><br />

      the most popular beginner monitors for most are between Savanah monitors and asain water monitors due to their managable size and eating habits,
       both will need custom built large enclosures when they are fully matured, and will need to be fed lots of red meat and other dead creatures (or alive)
        too stay fit and healthy. they require extremly hot basking tmeperatures and the water monitor as the name implise will need a pool of some kind<br />
      Monitors will live 15 to 30 years, meaning to treat one right you are commiting your life to it, that means up to 30 years of power bills, butcher trips and training, but in the end
      you may just make a friend.<br /><br />
      

      Below will send you to a video reference for caring and details of monitors.
    </p>
    <ion-button (click)="GOMonitorVideo()">Wickens wicked reptiles on YouTube</ion-button>
  </ion-list>
</ion-content>
