<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reptiles and their care!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reptiles and their care!</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
 <h3 >So ya wanna get to know reptiles???</h3>
 <p>The world of reptiles is a fun and rewarding task of understanding your new scaly friend. 
  Reptiles are a unique pet with a range of care needs, some need a hot and arid envirnment, others 
  may need a damp humid jungle, some will eat a few small bugs and some vedge, while another might need 
  something a little more... grusome. Whatever the needs of your reptile, this page shall serve to be your 
  perfect starters guide to their care and husbandry!
 </p>
 <p> ---------------------------------- </p>
 <p>Below you may fill out a pet profile, so we can best give you the most accurate care advice!</p>

 <ion-button shape="round" size="large" color="pink" href="/reptile-survey">PET PROFILE</ion-button>
  </div>
</ion-content>
